* {
  margin:0;
  box-sizing: border-box;
}

body{
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}

.container{
  position:relative;
  width:900px;
  height:900px;
}

/*-------------ANTENNALS---------------*/

.antennal{
  position:absolute;
  height:14%;
  width:23%;
  left: 38%;
}

.antennal-left,
.antennal-right{
  position:absolute;
  background-color:lightgray;
  width: 10%;
  bottom:-30%;
}

.antennal-left{
  height: 100%;
  transform: rotate(-50deg);
  left: 20%;
}
.antennal-right{
  height: 90%;
  transform: rotate(30deg);
  right:30%
}

.antennal-left-circle,
.antennal-right-circle{
  position: absolute;
  height: 45%;
  width: 30%;
  border-radius: 50%;
  background:radial-gradient(lightgray, gray);
}
.antennal-left-circle{
  top:20%;
  left:-14%;
}
.antennal-right-circle{
  top:12%;
  right:4%;
}



/*-------------EARS---------------*/

.ear-left,
.ear-right{
  position:absolute;
  width:50%;
  height: 45%;
  top:25%;
}

.ear-left{
  left:-50%;
  animation-name:move-your-left-ear;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes move-your-left-ear{
  0%{width:50%; left:-50%;}
  50%{width:47%; left:-47%;}
  100%{width:50%; left:-50%;}
}

.ear-right{
  right:-50%;
  animation-name:move-your-right-ear;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes move-your-right-ear{
  0%{width:50%; right:-50%;}
  50%{width:47%; right:-47%;}
  100%{width:50%; right:-50%;}
}

.ear-left-square-one,
.ear-right-square-one{
  position:absolute;
  height:100%;
  width:25%;
  right:0;
  border-radius:10%;
  background: radial-gradient(lightgray, gray);
}

.ear-left-square-two,
.ear-right-square-two{
  position:absolute;
  height:80%;
  width:25%;
  top:10%;
  right:25%;
  background-color: lightgray;
  border-radius:10px;
}

.ear-left-square-three,
.ear-right-square-three{
  position:absolute;
  height:14%;
  width:20%;
  right:50%;
  top:43%;
  background-color: lightgray;
}

.ear-left-circle,
.ear-right-circle{
  position:absolute;
  height:50%;
  width:30%;
  right:68%;
  top:25%;
  background-color:lightgray;
  border-radius:50%;
}

.ear-right-square-one {
  right:unset;
  left: 0;
}

.ear-right-square-two{
  right:unset;
  left:25%;
}

.ear-right-square-three{
  right:unset;
  left:50%;
}

.ear-right-circle{
  right:unset;
  left:68%;
}

/*-------------BODY & HEAD---------------*/

.body,
.head{
  position:absolute;
  background: radial-gradient(lightgray, gray);
  border-radius: 5%;
}

.head{
  top:14%;
  left:30%;
  height:27%;
  width:40%;
}

.body{
  top:45%;
  left:33%;
  height:27%;
  width:34%;
}

.screw-one,
.screw-two,
.screw-three,
.screw-four{
  position:absolute;
  background: url("http://features.acumed.net/eps-tool/img/hex/screw-head.png") center/contain no-repeat;
  height:15%;
  width:15%;
  animation-name: rotation;
  animation-duration:2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.screw-one{
  top:5%;
  left:5%;

}
.screw-two{
  bottom:5%;
  left:5%;
  animation-delay:2s;
}
.screw-three{
  top:5%;
  right:5%;
  animation-delay:4s;
}
.screw-four{
  bottom:5%;
  right:5%;
  animation-delay:6s;
}

@keyframes rotation {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg)}
}

.screw-one:hover,
.screw-two:hover,
.screw-three:hover,
.screw-four:hover {
  animation-play-state: paused;
}

/*-------------EYES---------------*/

.left-eye,
.right-eye,
.pupil-one-left,
.pupil-two-left,
.sparkle-pupil-left,
.left-iris,
.pupil-one-right,
.pupil-two-right,
.sparkle-pupil-right,
.right-iris{
  position:absolute;
  border-radius: 100%;
  overflow:hidden;
}

.left-eye{
  height: 60%;
  width:50%;
  top:5%;
  right:47%;
  background-color: #eee;
  overflow:hidden;
}

.right-eye{
  height: 50%;
  width:45%;
  top:11%;
  left:53%;
  background-color: #eee;
  overflow:hidden;
}

.left-eyelid,
.right-eyelid{
  position:absolute;
  height: 0;
  width:100%;
  right:0;
  top:0;
  border-radius:30%;
  background: radial-gradient(lightgray, gray);
  z-index:1;
  animation-name: close-your-eyelids;
  animation-duration:8s;
  animation-delay:5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;

}

@keyframes close-your-eyelids{
   0%{height: 0;}
   30%{height:100%;}
   60%{height: 0;}
  100%{height: 0;}
 }

.pupil-one-left,
.pupil-one-right{
  height: 100%;
  width: 83%;
  top: 0;
  right: 0;
  background-color: #fff;
}

.pupil-two-left,
.pupil-two-right{
  height: 76%;
  width: 80%;
  top: 15%;
  right: 4px;
  background-color: lightskyblue;
}

.sparkle-pupil-left,
.sparkle-pupil-right{
  height: 35%;
  width: 35%;
  top: 0;
  left: 4%;
  background-color: #fff;
}

.left-iris,
.right-iris{
  height: 70%;
  width: 70%;
  top: 24%;
  left: 29%;
  background: radial-gradient(black, midnightblue );
}

.pupil-one-right{
  left: 0;
}

.pupil-two-right{
  left: 4px;
}

.sparkle-pupil-right{
  left:unset;
  right: 4%;
}

.right-iris{
  left: unset;
  right: 29%;
}

/*--------------MOUTH--------------*/

.mouth{
  position: absolute;
  width: 50%;
  height: 45%;
  border-bottom: 7px solid black;
  border-radius: 61%;
  bottom: 6%;
  left: 25%;
  transform: rotate(9deg);
  animation-name: open;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes open{
  0%{border-bottom: 7px solid black;}
  20%{border-bottom: 1px solid black;}
  40%{border-bottom: 15px solid black;}
  60%{border-bottom: 50px solid black;}
  100%{border-bottom: 7px solid black;}
}

/*--------------NECK--------------*/

.neck{
  position:absolute;
  height:4%;
  width:10%;
  top:41%;
  left: 45%;
  background-color:lightgray;
}

/*-------------HEART---------------*/

.heart{
  position:absolute;
  height: 50%;
  width:33%;
  top:10%;
  right: 16%;
  transform:rotate(7deg);
  animation-name: heartbeat;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes heartbeat{
  0%{height:50%;}
  100%{height:49%;}
}

.left-top,
.right-top{
  position:absolute;
  background-color:crimson;
  height:50%;
  width:40%;
  border-radius: 50%;
  top: 10%;
}

.left-top{
  left:10%;
  animation-name: heartbeat-left;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes heartbeat-left{
  0%{left:10%;}
  100%{left:11%;}
}

.right-top{
  right:10%;
  animation-name: heartbeat-right;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes heartbeat-right{
  0%{right:10%;}
  100%{right:11%;}
}

.middle-bottom{
  position: absolute;
  background-color:crimson;
  height: 37%;
  width: 48%;
  transform: rotate(45deg);
  bottom: 27%;
  left: 25%;
}

.sparkle-heart{
  position: absolute;
  background-color: white;
  width: 20%;
  height: 27%;
  left: 18%;
  top: 17%;
  border-radius: 50%;
  transform: rotate(-6deg);
}

/*-------------ARMS---------------*/

.arm-left-container,
.arm-right-container{
  position:absolute;
  width: 28%;
  height:17%;
  top:46%;
}

.arm-left-container{
  left:5%;
}

.arm-right-container{
  right:5%;
  z-index:-1;
  animation-name:move-your-right-arm;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal ;
  transform-origin: 0 0;

}
@keyframes move-your-right-arm{
  0%{transform:rotate(0deg);}
  50%{transform:rotate(-20deg); width:34%}
  100%{transform:rotate(0deg);}
}

.arm-left,
.arm-right{
  position:absolute;
  background-color:lightgray;
  width:90%;
  height:60%;
  top:20%;
}

.arm-left{
  right:0;

}
.arm-right{
  left:0;
}

.arm-ring-one,
.arm-ring-two,
.arm-ring-three,
.arm-ring-four{
  position:absolute;
  background: radial-gradient(lightgray, gray);
  height:140%;
  width:15%;
  top: -20%;
  border-radius: 10%;
}

.arm-right .arm-ring-one{
   left:10%;
 }
.arm-right .arm-ring-two{
  left:35%;
}
.arm-right .arm-ring-three{
  left: 60%;
}
.arm-right .arm-ring-four{
  left:85%;
  z-index:1;
}

.arm-left .arm-ring-one{
  right:10%;
}

.arm-left .arm-ring-two{
  right:35%;
}

.arm-left .arm-ring-three{
  right: 60%;
}

.arm-left .arm-ring-four{
  right:85%;
  z-index:1;
}

.hand-left,
.hand-right{
  position:absolute;
  width:40%;
  height: 150%;
  top: -25%;
}

.hand-left{
  left:-33%;
}

.hand-right{
  right:-33%;
}

.finger-left,
.finger-right{
  position:absolute;
  height: 75%;
  width:100%;
  border-radius:50%;
}

.hand-left .finger-left{
  border-top: 30px solid darkgray;
  transform:rotate(30deg);
  top:5px;
  animation-name: move-your-left-finger;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal ;
}

@keyframes move-your-left-finger{
  0%{transform:rotate(30deg);}
  50%{transform:rotate(7deg); top:20%;}
  100%{transform:rotate(30deg);}
}

.hand-left .finger-right{
  border-bottom: 30px solid darkgray;
  transform:rotate(-30deg);
  bottom:5px;
  animation-name: move-your-right-finger;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal ;
}

@keyframes move-your-right-finger{
  0%{transform:rotate(-30deg);}
  50%{transform:rotate(-7deg); bottom:20%;}
  100%{transform:rotate(-30deg);}
}

.hand-right .finger-left{
  border-top: 30px solid darkgray;
  transform:rotate(-30deg);
  top:5px;
}
.hand-right .finger-right{
  border-bottom: 30px solid darkgray;
  transform:rotate(30deg);
  bottom:5px;
}

/*-------------LEGS---------------*/

.leg-left-container,
.leg-right-container{
  position:absolute;
  width: 17%;
  height: 28%;
  top:72%;
}

.leg-left-container{
  left:33%;
}

.leg-left,
.leg-right{
  position:absolute;
  background-color:lightgray;
  height:90%;
  width:60%;
}

.leg-left{
  left:20%;
}

.leg-right{
  right:20%;
}

.ring-one,
.ring-two,
.ring-three,
.ring-four{
  position:absolute;
  background: radial-gradient(lightgray, gray);
  width:140%;
  height:15%;
  top:10%;
  left:-20%;
  border-radius: 10%;
}

.ring-two{
  top:35%;
}

.ring-three{
  top:60%;
}

.ring-four{
  top:85%;
}

.foot-left,
.foot-right{
  position:absolute;
  background: radial-gradient(lightgray, darkgray);
  height:15%;
  width:100%;
  bottom:0;
  border-radius: 50% 50% 0 0;
}

.leg-right-container{
  right:33%;
}